@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Coiny&family=Gaegu:wght@400;700&family=IBM+Plex+Mono:wght@300;400&family=Monoton&family=Montserrat+Alternates:wght@600&family=Oi&family=Open+Sans:wght@400;500;600;700&family=Pacifico&family=Playfair+Display:wght@400;500&family=Reggae+One&family=Roboto:wght@400;500;700;900&family=Rubik+Dirt&family=Rubik+Mono+One&display=swap');* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    scroll-behavior: smooth;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.2rem 7%;
  transition: all 0.3s ease-in-out;
  border-bottom: .1rem solid rgba(0, 0, 0, .1);
  border-top: .1rem solid rgba(0, 0, 0, .1);
}

.Header-extra img{
  display: none;
}

.nav-links a::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 80%;
  height: 2px;
  background-color: #FF7D7D;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-links a:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

.logo{
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo h1 {
    font-family: 'Cinzel Decorative', cursive;
  font-size: 28px;
  font-weight: bold;
}

.nav-links a {
  padding: 15px;
  font-size: 18px;
  text-decoration: none;
  color: #333;
  font-family: 'Playfair Display', serif;
  position: relative;
  z-index: 1000;
}

.menu-icon {
    display: none;
    font-size: 1.2rem;
    padding: .4rem 0.80rem;
    border-radius: .3rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    cursor: pointer;
  }
  

@media (max-width: 1000px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 11%;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 20px;
        background-color: #fff;
        border-radius: 4px;
        text-align: center;
        transition: all 0.3s ease-in-out;
        border-bottom: .1rem solid rgba(0, 0, 0, .1);
      }

      .Header-extra img{
        display: block;
        width: 100px;
        height: 100px;
        margin-top: 20px;
      }

      .nav-links a {
        font-size: 50px;
        font-family: 'Oi', cursive;
      }
      .nav-links a::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 80%;
        height: 5px;
        background-color: #FF7D7D;
        transform-origin: center;
        transform: translate(-50%, 0) scaleX(0);
        transition: transform 0.3s ease-in-out;
      }
      
      .nav-links a:hover::before {
        transform: translate(-50%, 0) scaleX(1);
      }
    
      .nav-links.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 9999;
      }
    
      .menu-icon {
        display: block;
        font-size: 1.8rem;
        padding: 0.60rem 1rem;
        border-radius: .3rem;
        border: .1rem solid rgba(0, 0, 0, .2);
        cursor: pointer;
      }
}

@media (max-width: 767px) {
  .menu-icon {
    display: block;
    font-size: 1.8rem;
    padding: 0.60rem 1rem;
    border-radius: .3rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    cursor: pointer;
  }
  .nav-links a {
    font-size: 30px;
    font-family: 'Oi', cursive;
  }
}